**/node_modules/
**/bun.lock
**/package-lock.json
**/yarn.lock

.DS_Store

# Ignore experimental and temporary files
/extract-xls
/temp
/local
*.local
*.local.*

# Ignore uncompressed XML files
/bulk
/updates

# Ignore SQLite files
*.sqlite-shm
*.sqlite-wal
*.sqlite
*.sqlite.sql
.claude/settings.local.json
