# Ignore experimental and temporary files
/extract-xls
/temp
/local
*.local
*.local.env

# Ignore uncompressed XML files
extract-xml/bulk
extract-xml/updates

# Ignore SQLite files
*.sqlite-shm
*.sqlite-wal
*.sqlite
*.sqlite.sql
